
body {
  background-color: #339d60;
}

.p4wn-board table{
  border-spacing: 0px;
}

.p4wn-board td{
  padding: 1px;
}

.p4wn-white-square {
  background-color: #ffe0b7;
}

.p4wn-black-square {
  background-color:#d67b46;
}

.p4wn2-white-square {
  background-color: #ccc;
}

.p4wn2-black-square {
  background-color:#888;
}

.p4wn-board {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
}

.p4wn-log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  overflow: auto;
  max-width: 14em;
  height: 90%;
}

.p4wn-controls{
  clear: both;
  margin-top: 20px;
}

.p4wn-control-button {
  padding: 0px 5px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

.p4wn-log-move {
  padding: 0px 7px;
  cursor: pointer;
}

.p4wn-board td:after {
  content: attr(data-position);
  position: relative;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  left: 0;
  top: 0;
  float: left;
}
}
.p4wn-board td.p4wn-white-square:after,
.p4wn-board td.p4wn-black-square:after {
  color: black;
  padding-top: 5px;
  padding-left: 5px;
}

.p4wn2-anime-white-square,
.p4wn2-anime-black-square {
  animation-duration: 750ms;
  animation-iteration-count: 4;
}

.p4wn2-anime-white-square {
  animation-name: animeWhiteSquare;
}

.p4wn2-anime-black-square {
  animation-name: anime-black-square;
}

@keyframes animeWhiteSquare {
  0% {background-color: #ffe0b7;}
  50% {background-color: #ffb047;}
  100% {background-color: #ffe0b7;}
}

@keyframes anime-black-square {
  0% {background-color: #d67b46;}
  50% {background-color: #ad4102;}
  100% {background-color: #d67b46;}
}